/* Main Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 60%;
    margin: 0 auto;
}

.header h1 {
    margin: 0 0 10px 0;
    font-size: 4em;
}

.header p {
    margin: 0 0 20px 0;
    font-size: 2em;
}

.logo-space {
    font-size: 3em;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.main-content {
    text-align: center;
    margin-top: 20px;
}

.box {
    border: 2px solid black;
    padding: 25px;
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
    font-size: 2em;
    word-wrap: break-word;
}

.box:hover {
    background-color: black;
    color: white;
}

.footer {
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 15px;
}

/* Quiz Page Styles */
.quiz-container {
    width: 100%; /* Stretch to fill the screen */
    padding: 0 10%; /* Add some padding on the sides */
    box-sizing: border-box; /* Include padding in width calculation */
}

.question-page {
    display: none; /* Initially hide all question pages */
    text-align: left;
    margin-top: 20px;
}

.question {
    font-size: 2em; /* Increase font size for better readability */
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Stretch options to fill the container */
}

.options button {
    font-size: 1.5em; /* Larger font size for options */
    padding: 10px 20px;
    margin: 10px 0; /* Margin around buttons */
    cursor: pointer; /* Cursor indication for clickable elements */
    text-align: left;
}

.options button:hover {
    background-color: #f1f1f1;
}

.results-container {
    text-align: center;
    margin-top: 20px;
}

.correct-answer {
    color: green; /* Style for correct answers */
}

.incorrect-answer {
    color: red; /* Style for incorrect answers */
}

.score.good {
    color: green; /* Green color for good score */
}

.score.poor {
    color: red; /* Red color for poor score */
}

/* New styles for the quiz results */
.results-wrapper {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    text-align: center;
    font-size: 2em; /* Set the font size to match other pages */
}

.score-ball {
    border-radius: 50%;
    width: 150px; /* Increase the size */
    height: 150px; /* Increase the size */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto; /* Increase the top margin to push it further down */
    font-size: 3em; /* Increase font size within the ball */
}

.good-score {
    background-color: green;
    color: white;
}

.poor-score {
    background-color: red;
    color: white;
}

.entry-message, .review-message {
    margin-top: 20px;
}
