body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

.header h1 {
    margin: 0 0 10px 0; /* Adjusted margin for the title */
    font-size: 3em; /* Increased font size */
}

.header p {
    margin: 0 0 20px 0; /* Increased margin for the description */
    font-size: 1.5em; /* Increased font size */
}

.logo-space {
    font-size: 2em; /* Increased font size for logo */
    margin-bottom: 20px; /* Added spacing below logo */
}

.main-content {
    text-align: center;
    margin-top: 20px; /* Adjusted space between header and boxes */
}

.box {
    border: 2px solid black;
    padding: 20px; /* Increased padding to make boxes fatter */
    width: 35%; /* Adjusted width */
    display: inline-block;
    margin: 15px; /* Increased margin for spacing between boxes */
    cursor: pointer;
    font-size: 1.5em; /* Increased font size */
}

.box:hover {
    background-color: black;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px; /* Adjusted padding */
}
