body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

.header h1 {
    margin: 5px 0; /* Further reduced margin for the title */
    font-size: 2em; /* Font size, adjust if needed */
}

.header p {
    margin: 5px 0; /* Maintained reduced margin for the description */
}

.main-content {
    text-align: center;
    margin-top: 15px; /* Further reduced space between header and boxes */
}

.box {
    border: 2px solid black;
    padding: 15px; /* Slightly reduced padding */
    width: 30%;
    display: inline-block;
    margin-top: 10px; /* Further reduced space above the boxes */
    cursor: pointer;
}

.box:hover {
    background-color: black;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Adjusted for overall page balance */
}

.quiz-container {
    text-align: left;
    margin: 20px;
}

.question-page {
    display: none;
    text-align: center;
}

.question-page.active {
    display: block;
}

.question {
    font-size: 1.5em;
    margin: 40px 0;
}

.options button {
    margin: 5px;
    padding: 10px;
}

.options button:hover {
    background-color: black;
    color: white;
}

.results-container {
    text-align: center;
    margin-top: 50px;
}

.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}

.score {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.score.good {
    color: green;
    font-weight: bold;
}

.score.poor {
    color: red;
}
